@font-face {
    font-family: 'MaruBuri';
    font-weight: 400;
    src: url(assets/font/MaruBuri-Regular.ttf) format('truetype');
}

:root {
  --brown: #383735;
  --white: #fff;
  --black: #000;
  --brown-300: #765835;
  --brown-100: #dfd8cd;
  --brown-600: #585652;
  --brown-200: #7f7d7a;
}

.brown-text {
  color: var(--brown) !important;
}

.brown-bg {
  background-color: var(--brown) !important;
}

.brown-600-text {
  color: var(--brown-600) !important;
}

.brown-600-bg {
  background-color: var(--brown-600) !important;
}

.brown-300-text {
  color: var(--brown-300) !important;
}

.brown-300-bg {
  background-color: var(--brown-300) !important;
}

.brown-100-text {
  color: var(--brown-100) !important;
}

.brown-100-bg {
  background-color: var(--brown-100) !important;
}

.brown-200-text {
  color: var(--brown-200) !important;
}

.brown-200-bg {
  background-color: var(--brown-200) !important;
}

body		{ 
    font-family: 'MaruBuri', sans-serif;
    background-color: var(--white);
    color:  var(--brown);
    margin: 0;
}

.normal		{ font-weight: 400 }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 100 }
.medium		{ font-weight: 300 }

a,
a:visited,
a:hover {
    text-decoration: none;
    color: var(--brown);
}

.cursor-pointer {
    cursor: pointer;
}

.right-revert {
  transform: scaleX(-1);
}

.container {
    max-width: 1314px;
}

.s1 {
  background: url(assets/images/banner.png) center center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 230px;
  padding-bottom: 120px;
  color: var(--white);
}

.s1 .logo {
  position: absolute;
  top: 25px;
  left: 25px;
}

.s1 .circle {
  position: fixed;
  top: 590px;
  right: 75px;
  cursor: pointer;
  z-index: 3;
}

.btn {
  padding: 20px 45px;
  cursor: pointer;
  background-color: #1b2537;
  width: fit-content;
  color: var(--white);
  font-size: 21px;
  border-radius: unset;
}

.s2 {
  overflow: hidden;
}

.s2 > div {
  position: relative;
}

.s2 .left {
  position: absolute;
  top: -35px;
  z-index: 1;
}

.s2 .right {
  position: absolute;
  top: -35px;
  z-index: 1;
}

.s2 .footer {
  background: var(--brown);
  display: flex;
  justify-content: center;
  align-items: center;
}

.s3, .s9 {
  background: url(assets/images/s3-bg.png) center center no-repeat;
  background-size: cover;
}

.s3 img {
  object-fit: cover;
  width: 100%;
}

.s3 .upline::before {
  background-color: var(--brown);
}

.s4 {
  background: url(assets/images/s4-bg.png) center center no-repeat;
  background-size: cover;
}

.s4 h3 {
  position: relative;
  color: var(--white);
}

.s4-ba {
  color: var(--brown-100);
}

.upline {
  position: relative;
}

.upline::before {
  content: '';
  display: block;
  width: 20%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--brown-100);
}

.s5 {
  background: url('assets/images/s5-bg.png') center center no-repeat;
  background-size: cover;
  color: var(--brown-200);
}

.s6 {
  background-color: var(--brown);
}

.s6 .date {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.s7 {
  background: var(--white) url(assets/images/s7-bg.png) center center no-repeat;
  background-size: cover;
}

.s8, .s11 {
  background: url(assets/images//s8-bg.png) center center no-repeat;
  background-size: cover;
}

.s10 {
  background: url(assets/images//s10-bg.png) center center no-repeat;
  background-size: cover;
  color: var(--white);
}

.s11 {
  background: url(assets/images/s11-bg.png) center center no-repeat;
  background-size: cover;
}

.s12 {
  background: url(assets/images/s12-bg.png) center center no-repeat;
  background-size: cover;
}

.s13 {
  background: url(assets/images/s13-bg.png) center center no-repeat;
  background-size: cover;
}

.s14 {
  background: url(assets/images/s14-bg.png) center center no-repeat;
  background-size: cover;
}

.s15 {
  background: url(assets/images/s15-bg.png) center center no-repeat;
  background-size: cover;
}

.s16 {
  background: url(assets/images/s16-bg.png) center center no-repeat;
  background-size: cover;
}

footer {
  background-color: #555555;
}

.form-item {
  text-align: left;
  padding: 10px 0;
}

input[type="text"], select {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  padding: 20px;
  width: 100%;
}

select option {
  font-size: 20px;
  color: var(--black);
}

input:focus, select:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--white);
}

.mySlides11, .mySlides2 {
  font-weight: bold;
}

@media (min-width: 320px) {
  body {
    font-size: 11px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 23px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 13px;
  }

  h6 {
    font-size: 10px;
  }

  .s1 .slogan {
    object-fit: cover;
    width: 70%;
  }

  .s2 .footer img {
    object-fit: cover;
    width: 100%;
    transform: translateY(-10px);
  }

  .s2 .left {
    left: -160%;
  }
  
  .s2 .right {
    right: -120%;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 2;
    margin-top: 0 !important;
  }

  .prev img, .next img {
    filter: invert(100%);
    width: 50%;
  }

  .next {
    right: 12px;
    left: unset;
  }

  .s4 h3::before {
    background: url(assets/images/s4-tw.png) center center no-repeat;
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    left: -13%;
    top: -79px;
  }

  .mySlides11 {
    width: 50%;
    margin: 0 auto;
  }

  .mySlides10 > div {
    width: 50%;
    transform: translateY(-10px);
    margin: 0 auto;
    min-width: 203px;
  }

  .mySlides10 > div h4 {
    text-align: center;
    font-weight: bold;
  }

  form {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 18px;
  }

  .s1 .slogan {
    object-fit: cover;
    width: 100%;
  }

  .s2 .left {
    left: -75%;
  }
  
  .s2 .right {
    right: -55%;
  }

  .s4 h3::before {
    width: 310px;
    height: 305px;
    left: -50%;
    top: -135px;
  }

  form {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .s2 .left {
    left: -50%;
  }
  
  .s2 .right {
    right: -35%;
  }

  .s2 .footer img {
    object-fit: unset;
    width: auto;
    transform: translateY(-35px);
  }
}

@media (min-width: 1200px) {
  .s2 .left {
    left: -20%;
  }
  
  .s2 .right {
    right: -20%;
  }

  .prev, .next {
    position: static;
    transform: unset;
  }

  .prev img, .next img {
    filter: unset;
    width: auto;
  }
}

@media (min-width: 1314px) {
  
}

@media (min-width: 1800px) {
  .s2 .left {
    left: 0;
  }
  
  .s2 .right {
    right: 0;
  }
}

*::-webkit-scrollbar {
    width: 5.2px;
}

*::-webkit-scrollbar-button {
    display: none;
}
*::-webkit-scrollbar-thumb {
    background: #fff;
}
*::-webkit-scrollbar-track {
    background-color: #5D5D5D;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides.active {
  display: block;
  opacity: 1;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  margin-top: -22px;
  padding: 0 32px 0 0;
  color: white;
  user-select: none;
}

.next {
  padding: 0 0 0 32px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 3px;
  width: 35px;
  margin: 0 2px;
  background-color: #45423f;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: var(--brown-100);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}